.modal-demo{
    text-align: right;
    margin-top: 3rem;
}
.openb{
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid gray;
    margin-bottom: -25rem;
    margin-right: 4.5rem;
}
.mo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mc{
    padding: 2rem;
    max-width: 500px;
    text-align: center;
    background: #fff;
    border-radius: 5px;

}
.closebt{
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    margin-top: 1.5rem;
    border: 1px solid gray;
}
.mc h3{
    margin-bottom: 2rem;
}
.mc p{
    margin-bottom: 1rem;
}
